* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
}

:root {
  --highlight: #FF57B2;
  --heading: #F8F8F8;
  --bg: #1A1D23;
  --info: #BBBBBB;
  --body: #D7D7D7;
}

body {
  background-color: var(--bg);
}